$accent-1: #0EC6CE;
$accent-2: #0EC6CE;
$heading-font: 'Righteous', cursive;

body {
	background-color: black;
	font-family: 'Libre Baskerville', serif;
	font-size: 16px;
	color: black;
}

.outer-wrapper {
	position: relative;
	max-width: 1500px;
	margin: 0 auto;
}

h1, h2 {
	margin: 0;
	font-family: 'Righteous', cursive;
}

p {
	margin: 0;
	padding-bottom: 10px;
}

input[type=submit] {
    -webkit-border-radius: 0px;
}

input[type="submit"] {
	margin-left: 20px;
	padding: 8px 15px;
    border-radius: 10px;
    border: 3px solid $accent-1;
    background-color: $accent-1;
    font-family: $heading-font;
    color: black;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: color 0.3s, background-color 0.3s;
    &:hover {
    	background-color: transparent;
    	color: $accent-1;
    }
}

form {
	width: 100%;
	text-align: center;
	label {
		display: block;
	}
	span {
		display: block;
		padding-bottom: 10px;
		font-family: $heading-font;
		text-transform: uppercase;
		letter-spacing: 2px;
	}
}