.start-overlay {
	display: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: black;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	z-index: 1000;
	color: white;
	h1 {
		text-align: center;
		font-size: 65px;
		text-transform: uppercase;
		letter-spacing: 5px;
		color: $accent-1;
		@media all and (max-width: 768px) {
			font-size: 50px;
		}
		@media all and (max-width: 580px) {
			font-size: 40px;
		}
	}
	p {
		padding: 20px 0;
		text-align: center;
		letter-spacing: 1.25px;
	}
	.overlay-image { 
		width: 250px;
		@media all and (max-width: 580px) {
			width: 200px;
		}
		img {
			width: 100%; 
		}
	}
	label {
		color: white;
		padding: 10px;
		letter-spacing: 1px;
		font-size: 18px;
		cursor: pointer;
		@media all and (max-width: 580px) {
			font-size: 14px;
		}
	}
	.or {
		display: inline-block;
		padding-top: 10px;
		padding-bottom: 0;
		border-bottom: 1px solid white;
		font-size: 12px;
	}
	.option {
		color: $accent-2;
	}
}
.manual-location {
	display: none;
}
input[type="search"] {
    width: 40%;
    height: 40px;
	margin: 20px auto 10px auto;
    padding: 0 20px;
    border-radius: 10px;
    border: 3px solid transparent;
    outline: none;
    &:focus {
    	border: 3px solid $accent-1;
    }
    @media all and (max-width: 500px) {
    	width: 80%;
    }
}
.locator {
	width: 425px;
	margin: 0 auto;
	padding: 8px 25px;
    border-radius: 10px;
    border: 3px solid $accent-1;
    color: $accent-1;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    @media all and (max-width: 768px) {
		width: 80%;
    }
}

.loading-image {
	display: flex;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.3);
	text-align: center;
	.spinner {
		margin: auto;
		p {
			padding-top: 20px;
			text-transform: uppercase;
		}
	}
}

.geo-wait {
	display: none;
}