article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: 'Libre Baskerville', serif;
  font-size: 16px;
  color: black;
}

.outer-wrapper {
  position: relative;
  max-width: 1500px;
  margin: 0 auto;
}

h1, h2 {
  margin: 0;
  font-family: 'Righteous', cursive;
}

p {
  margin: 0;
  padding-bottom: 10px;
}

input[type=submit] {
  -webkit-border-radius: 0px;
}

input[type="submit"] {
  margin-bottom: 10px;
  margin-left: 20px;
  padding: 8px 15px;
  border-radius: 10px;
  border: 3px solid #0EC6CE;
  background-color: black;
  font-family: "Righteous", cursive;
  color: #0EC6CE;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

form {
  width: 100%;
  text-align: center;
}

form label {
  display: block;
}

form span {
  display: block;
  padding-bottom: 10px;
  font-family: "Righteous", cursive;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.start-overlay {
  display: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  background: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1000;
  color: #0EC6CE;
}

.start-overlay h1 {
  text-align: center;
  font-size: 65px;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #0EC6CE;
}

@media all and (max-width: 768px) {
  .start-overlay h1 {
    font-size: 50px;
  }
}

@media all and (max-width: 580px) {
  .start-overlay h1 {
    font-size: 40px;
  }
}

.start-overlay p {
  padding: 20px 0;
  text-align: center;
  letter-spacing: 1.25px;
}

.start-overlay .overlay-image {
  width: 250px;
}

@media all and (max-width: 580px) {
  .start-overlay .overlay-image {
    width: 200px;
  }
}

.start-overlay .overlay-image img {
  width: 100%;
}

.start-overlay label {
  color: white;
  padding: 10px;
  letter-spacing: 1px;
  font-size: 18px;
  cursor: pointer;
}

@media all and (max-width: 580px) {
  .start-overlay label {
    font-size: 14px;
  }
}

.start-overlay p.locator {
  letter-spacing: 2px;
}

.start-overlay .or {
  display: inline-block;
  padding-top: 30px;
  padding-bottom: 0;
  border-bottom: 1px solid #0EC6CE;
  font-size: 12px;
}

.start-overlay .option {
  padding: 30px 0;
  font-size: 20px;
  color: #0EC6CE;
}

.start-overlay .option:hover, .start-overlay .option:focus {
  text-decoration: underline;
}

@media all and (max-width: 768px) {
  .start-overlay .option {
    font-size: 24px;
  }
}

.manual-location {
  display: none;
}

@media all and (max-width: 550px) {
  .manual-location input[type="submit"] {
    margin-left: 0;
  }
}

input[type="search"] {
  width: 40%;
  height: 40px;
  margin: 20px auto 10px auto;
  padding: 0 20px;
  border-radius: 10px;
  border: 3px solid transparent;
  outline: none;
}

input[type="search"]:focus {
  border: 3px solid #0EC6CE;
}

@media all and (max-width: 500px) {
  input[type="search"] {
    width: 80%;
  }
}

.locator {
  width: 425px;
  margin: 0 auto;
  padding: 8px 25px;
  border-radius: 10px;
  border: 3px solid #0EC6CE;
  font-family: "Righteous", cursive;
  font-weight: 700;
  text-align: center;
  color: #0EC6CE;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
}

.locator:hover, .locator:focus {
  background-color: #0EC6CE;
  color: black;
}

@media all and (max-width: 768px) {
  .locator {
    width: 80%;
  }
}

.loading-image {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
}

.loading-image .spinner {
  margin: auto;
}

.loading-image .spinner p {
  padding-top: 20px;
  font-family: "Righteous", cursive;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.geo-wait {
  display: none;
}

header {
  width: 20%;
  height: 15vh;
  float: left;
}

@media all and (max-width: 580px) {
  header {
    display: none;
  }
}

header h1 {
  width: 100%;
  padding: 20px 30px;
  font-family: "Righteous", cursive;
  font-size: 55px;
  letter-spacing: 4px;
  color: white;
  text-transform: uppercase;
}

header .small-logo {
  width: 150px;
}

section.form {
  height: 15vh;
  float: left;
  width: calc(65% - 20px);
  margin-left: 20px;
}

@media all and (max-width: 768px) {
  section.form {
    width: calc(80% - 20px);
  }
}

@media all and (max-width: 580px) {
  section.form {
    display: flex;
    width: 100%;
    height: 20vh;
    margin: 0;
  }
}

section.form .try-again {
  padding-top: 20px;
  text-align: center;
  color: #0EC6CE;
}

@media all and (max-width: 580px) {
  section.form .try-again {
    display: none;
  }
}

section.form span {
  display: block;
  margin: 0 auto;
  font-family: "Righteous", cursive;
  text-transform: uppercase;
  color: #0EC6CE;
  letter-spacing: 2px;
}

section.form form {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 12px;
}

section.form form .retry-geoLocation {
  display: inline-block;
  width: 100px;
  padding: 8px 0;
  color: #0EC6CE;
  font-size: 12px;
  letter-spacing: 1px;
  cursor: pointer;
}

section.form form .retry-geoLocation:hover, section.form form .retry-geoLocation:focus {
  color: black;
}

section.form form .or {
  display: inline-block;
  padding: 10px;
}

section.form form div {
  display: inline-block;
}

section.form form input[type="search"] {
  width: 150px;
  height: 35px;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 0 20px;
  border-radius: 10px;
  border: none;
  background-color: white;
}

@media all and (max-width: 500px) {
  section.form form input[type="search"] {
    margin-top: 10px;
  }
}

section.form form input[type="submit"] {
  margin-left: 5px;
}

@media all and (max-width: 580px) {
  section.form form {
    margin: auto;
  }
}

img {
  max-width: 100%;
}

footer {
  height: 10vh;
  padding-top: 10px;
  background-color: black;
  text-align: center;
  color: #0EC6CE;
}

footer a, footer a:visited {
  color: #0EC6CE;
}

footer a:hover, footer a:focus {
  color: white;
}

#mapid {
  height: 85vh;
}

@media all and (max-width: 580px) {
  #mapid {
    height: 85vh;
  }
}

.info {
  padding: 10px 0;
}

.info .label {
  display: inline-block;
  float: left;
  width: 20%;
  font-family: "Righteous", cursive;
  font-size: 16px;
  text-transform: uppercase;
  color: #0EC6CE;
  letter-spacing: 2px;
}

.info .details {
  float: left;
  width: 80%;
  padding-left: 20px;
  font-family: 'Libre Baskerville', serif;
  font-size: 16px;
}

.leaflet-popup-content {
  width: 275px;
  margin: 0;
  padding: 15px;
}

.leaflet-popup-content p {
  margin: 0;
}

.time {
  font-size: 16px;
}

iframe {
  display: block;
  width: 100%;
  height: 80px;
  margin: 0 auto;
  padding: 0;
}

.leaflet-container a {
  font-family: "Righteous", cursive;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #0EC6CE;
}

.tickets {
  display: inline-block;
  margin-left: -10px;
  padding: 10px;
  color: #0EC6CE;
}

.noPlaycard {
  width: 100%;
  height: 80px;
  margin: 0 auto;
  padding: 5px;
  border: 2px solid #0EC6CE;
}

.noPlaycard p {
  font-size: 16px;
}
